body {
  background-image: url("background-image.png");
  background-position: center;
  background-size: cover;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  color: white;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.login-box h2 {
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #08080833;
  color: white;
  font-size: 14px;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #000000;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  margin-top: 25px;
  background-color: #c989e4b1;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.signup {
  margin-top: 20px;
  font-size: 13px;
  text-align: center;
}

.signup a {
  color: #000000;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}
