body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("image-inscription.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .container {
    background-color: rgba(44, 47, 51, 0.6); 
    padding: 40px 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: #fff;
  }
  
  
  
  .form h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  
  
  
  .form p {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #ccc;
  }
  
  input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5%;
    background-color: rgba(44, 47, 51, 0.4);
    color: #fff;
    font-size: 14px;
  }
  
  ::placeholder {
    color: #bbb;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .row input {
    width: 100%;
  }
  
  .radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #cccccc;
    font-size: 14px;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  button {
    width: 100%;
    background-color: #c9a6da; 
    border: none;
    padding: 12px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #534753;
  }
  
  .signin-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #aaa;
  }
  
  .signin-link a {
    color: #c2a6ff;
    text-decoration: none;
  }
  
  
  
  
  input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5%;
    background-color: rgba(44, 47, 51, 0.4);
    color: #fff;
    font-size: 14px;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(70%); 
    cursor: pointer;
  }
  
  
  input[type="date"]::placeholder {
    color: #bbb;
  }