* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("background img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

header {
  background-color: rgba(212, 157, 245, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding:10px  20px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
  object-fit: cover;
  /*border-radius: 50%;
  box-shadow: 0 0 10px 3px #de75f1;*/
  margin-right: 20px;
}

.site-name {
  font-size: 3.0em;
  color: #6a1b9a;
}

.nav-top {
  display: flex;
  align-items: flex-start;
  padding-top: 35px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links > li {
  position: relative;
}

.nav-links > li > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  transition: color 0.3s ease;
  padding: 8px 12px;
  border-radius: 6px;
   text-decoration: underline;
}

.nav-links > li > a:hover {
  color: #6a1b9a;
 
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #6a1b9a;
  display: none;
  flex-direction: column;
  min-width: 180px;
  z-index: 10;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.dropdown a {
  color: #fff ;
  background-color: #6a1b9a ;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px solid #fff;
}

.dropdown a:hover {
  background-color: #820098 ;
}

.dropdown a:last-child {
  border-bottom: none;
}

.nav-links li:hover .dropdown {
  display: flex;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  background-color: transparent;
}

.content-left, .content-right {
  flex: 1;
  padding: 20px;
}

.content-left {
  max-width: 48%;
}

.content-left h1 {
  color: #6a1b9a;
  font-size: 2.7em;
}

.content-left ul {
  font-size: 1.7em;
  margin-top: 20px;
}

.button-group {
  display: flex;
  gap: 90px;
  margin-top: 30px;
  margin-left: 50px;
}

.btn {
  width: 150px;
  height: 70px;
  background-color: #6a1b9a;
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 20px #d086fe;
  transition: background-color 1.55s ease;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #9621ab;
}

.main-image {
  width: 100%;
  
 
  object-fit: cover;
 max-height: 500px; 
  /*border-radius: 10px;
  box-shadow: 0 0 10px 3px #6a1b9a;    */
}